<% content_for :head do %>
<title>Pasta</title>

    <meta property="og:locale" content="en_GB"/>
    <meta property="og:title" content="Pasta"/>
    <meta property="og:description" content="Pasta is a staple food of traditional Italian cuisine, now of worldwide renown."/>
    <meta property="og:type" content="simonsfoodapp:ingredient"/>
    <meta property="og:url" content="https://morning-robot-5509.herokuapp.com/ingredients/pasta"/>
    <meta property="og:image" content="http://morning-robot-5509.herokuapp.com/images/pasta.jpeg"/>
<% end %>
    
    <h1>Pasta</h1>
    <h2>Pasta is a staple food of traditional Italian cuisine, now of worldwide renown.</h2>
    <img src="http://morning-robot-5509.herokuapp.com/images/pasta.jpeg" />
